/*
███████╗ █████╗ ███╗   ██╗███████╗██╗   ██╗███████╗
╚══███╔╝██╔══██╗████╗  ██║██╔════╝╚██╗ ██╔╝██╔════╝
  ███╔╝ ███████║██╔██╗ ██║█████╗   ╚████╔╝ ███████╗
 ███╔╝  ██╔══██║██║╚██╗██║██╔══╝    ╚██╔╝  ╚════██║
███████╗██║  ██║██║ ╚████║███████╗   ██║   ███████║
╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝   ╚═╝   ╚══════╝
            Website Circa 2023
*/

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pixelify+Sans:wght@700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Default Setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    color: #f8f8f2;
    background-color: #21222C;
    overscroll-behavior: contain;
}

li {
    color: #6272a4;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #282a36;
}

body::-webkit-scrollbar-thumb {
    background: #44475a;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.2rem;
}

p {
    font-size: 1.2rem;
}

small {
    font-size: 1rem;
}

header {
    height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
    color: #bd93f9;
}

/* Navbar Setup */
.navbar {
    position: fixed;
    z-index: 1;
    background-color: #282a36;
    transition: 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #6272a4;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.9);
    transition: 400ms ease;
}

.nav-text {
    display: none;
    margin-left: 1rem;
}

.material-symbols-outlined {
    min-width: 2.5rem;
    margin: 0 1rem;
    text-align: center;
    font-size: 48px;
    color: #bd93f9;
    font-variation-settings:'opsz' 48;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    font-size: 1.3rem;
}

.nav-link:focus {
    filter: grayscale(0%) opacity(1);
    font-size: 1.3rem;
}

.arrows {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.navbar:hover .nav-arrows,
.navbar:focus .nav-arrows {
    background-color: #21222C;
}

.nav-arrows {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 5rem;
    color: #6272a4;
    text-decoration: none;
}

#arrow-icon {
    transform: rotate(0deg);
    transition: 600ms ease;
}

.navbar:hover #arrow-icon {
    transform: rotate(-180deg);
}

.navbar:focus #arrow-icon {
    transform: rotate(-180deg);
}

/* Small Screen Setup */
@media only screen and (max-width:1200px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 4.4rem;
    }

    .navbar:hover .nav-text,
    .navbar:focus .nav-text {
        display: none;
    }

    .arrows {
        display: none;
    }
    
    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin-left: 0;
        margin-bottom: 4.4rem;
    }

    :root {
        font-size: 13px;
    }

    .header-text h2 {
        font-size: 3rem;
    }

    .flex-row {
        flex-direction: column;
    }

    .border-pic {
        align-self: auto;
    }

    p {
        font-size: 1.6rem;
    }

    .flex-pic-round {
        height: 80vw;
        border-radius: 10%;
        align-self: center;
    }

    .blog-header h1 {
        font-size: 4rem;
    }

    .h1-indented {
        margin-left: 2rem;
    }

    .blog-header h3 {
        margin-left: 3rem;
        margin-bottom: 4rem;
    }
    
    .blog-row {
        grid-template-columns: 1fr;
        grid-row-gap: 8vh;
    }

}

/* Large Screen Setup */
@media only screen and (min-width:1200px) {
    .navbar {
        top: 0;
        width: 4.4rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 14rem;
    }

    .navbar:hover .nav-text {
        display: block;
    }

    .navbar:focus .nav-text {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
    }
    
    .nav-link {
        justify-content: start;
    }

    .nav-link:hover {
        background-color: #44475a;
    }

    .nav-link:focus {
        background-color: #44475a;
    }

    .nav-item:last-child {
        margin-top: auto;
    }

    main {
        margin-left: 4.4rem;
    }

    :root {
        font-size: 18px;
    }

    .header-text h2 {
        font-size: 5rem;
    }

    .flex-row {
        flex-direction: row;
    }

    .border-pic {
        align-self: center;
    }

    .flex-pic-round {
        height: 30vh;
        border-radius: 50%;
    }

    .blog-header h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 10rem;
    }

    .h1-indented {
        margin-left: 12rem;
    }

    .blog-header h3 {
        margin-left: 6rem;
        margin-bottom: 8rem;
    }

    .author {
        max-height: 200px;
    }

    .blog-row {
        grid-template-columns: 1fr 1fr 1fr;
        height: 40vh;
        grid-column-gap: 2vw;
    }
}

/* Logo Text & Sub Logo Text Setup */
.header-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin-right: 3.5rem;
}

.header-text h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 12rem;
    margin: 0;
    color: #f8f8f2;
}

.header-text h2 {
    position: relative;
    font-family: 'Pixelify Sans', sans-serif;
    margin: 0;
    color: #21222C;
    -webkit-text-stroke: 0.1rem #6272a4;
    text-transform: uppercase;
    text-align: end;
    white-space : nowrap;
}

.sub-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #50fa7b;
    -webkit-text-stroke: 0rem #6272a4;
    border-right: 3px solid #50fa7b;
    overflow: hidden;
    animation: textanim 6s linear infinite;
}

@keyframes textanim {
    0%,10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

/* Sectiions & Waves Setup */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 400px;
    padding: 5vw 10vw;
}

.spacer {
    aspect-ratio: 4000/475;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.startlayer {
    background-image: url(images/layer1.svg);
}

.endlayer {
    background-image: url(images/layer2.svg);
}

.green-wave {
    background-image: url(images/green-wave.svg);
}

.blue-wave {
    background-image: url(images/blue-wave.svg);
}

.purple-wave {
    background-image: url(images/purple-wave.svg);
}

.yellow-wave {
    background-image: url(images/yellow-wave.svg);
}

.aboutstart {
    background-image: url(images/aboutstart.svg);
}

.aboutend {
    background-image: url(images/aboutend.svg);
}

.headerwave {
    background-image: url(images/headerwave.svg);
    position: absolute;
    bottom: 0px;
    aspect-ratio: 4000 / 950;
}

.blogbottomwave {
    background-image: url(images/blogbottomwave.svg);
}

.gamingstartwave {
    background-image: url(images/gamingstartwave.svg);
}

.pinkwave {
    background-image: url(images/pink-wave.svg);
}

.articletopwave {
    background-image: url(images/articletopwave.svg);
}

.articlebottomwave {
    background-image: url(images/articlebottomwave.svg);
}

.blogtopwave {
    background-image: url(images/blogtopwave.svg);
}

/* My Info Containing Classes */
.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-pic {
    aspect-ratio: 1 / 1.5;
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.flex-pic-round {
    aspect-ratio: 1 / 1;
    background-position: center;
    background-size: cover;
}

.cartoon {
    background-image: url(images/cartoon.jpg);
}

.vimrc {
    background-image: url(images/vimrc.png);
}

.mewithwatch {
    background-image: url(images/mewithwatch.jpg);
    margin-right: 20px;
}

.flex-row-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.2rem;
}

.aligntextleft {
    align-items: start;
    text-align: start;
    justify-content: start;
}

.alth2 {
    color: #bd93f9;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.comment {
    color: #6272a4;
}

.text-space {
    height: 100px;
}

.text-space-small {
    height: 30px;
}

.green-button {
    text-decoration: none;
    background-color: #21222C;
    color: #50fa7b;
    border: 2px solid #50fa7b;
    border-radius: 5px;
    padding: 1rem 3rem;
    margin: 2rem 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 700ms ease;
}

.green-button:hover {
    background-color: #50fa7b;
    color: #21222C;
    box-shadow: rgba(80,250,123, 0.25) 0px 54px 55px, rgba(80,250,123, 0.12) 0px -12px 30px, rgba(80,250,123, 0.12) 0px 4px 6px, rgba(80,250,123, 0.17) 0px 12px 13px, rgba(80,250,123, 0.09) 0px -3px 5px;
}

/* Post Page Setup */
.blog-post {
    color: #f8f8f2;
    transform: translateY(0);
    transition: 250ms ease;
    align-self: start;
    overflow: auto;
}

.blog-row {
    display: grid;
}

.blog-post:hover {
    transform: translateY(-10px);
}

.blog-post h3 {
    font-size: 1.4rem;
    margin-top: 12px;
    padding: 0 12px;
}

.blog-post h2 {
    font-size: 1.7rem;
    padding: 0 12px;
}

.blog-post p {
    font-size: 1.1rem;
    padding: 0 12px;
}

.blog-post-pic {
    width: 80%;
    border: 4px solid #44475a;
    border-radius: 30px 0px 30px 0px;
}

.modernfont {
    font-family: "Bebas Neue", sans-serif;
}

/* 404 Page Setup */
.page404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/404bg.svg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.mes404 {
    margin-top: 10px;
    padding: 0 5vw;
}

/* Links Page Setup */
.links {
    background-image: url(images/linksbg.svg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 6vw;
}

.linkblock {
    width: 280px;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    padding: 1.75vh 4vw;
    color: #f8f8f2;
    background-color: #282a36;
    border: 2px solid #bd93f9;
    border-radius: 10px;
    transition: 200ms ease;
}

.linkblock img {
    aspect-ratio: 1 / 1;
    height: 100%;
}

.linkblock:hover {
    height: 10vh;
    box-shadow: rgba(189, 147, 249, 0.3) 0px 19px 38px, rgba(189, 147, 249, 0.22) 0px 15px 12px;
}

.linkblock h3 {
    align-self: center;
    margin-left: 2.25rem;
}

.purple-button {
    text-decoration: none;
    background-color: #21222C;
    color: #bd93f9;
    border: 2px solid #bd93f9;
    border-radius: 5px;
    padding: 1rem 3rem;
    margin: 2rem 3rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 700ms ease;
}

.purple-button:hover {
    background-color: #bd93f9;
    color: #21222C;
    box-shadow: rgba(189,147,249, 0.25) 0px 54px 55px, rgba(189,147,249, 0.12) 0px -12px 30px, rgba(189,147,249, 0.12) 0px 4px 6px, rgba(189,147,249, 0.17) 0px 12px 13px, rgba(189,147,249, 0.09) 0px -3px 5px;
}

/* Article Page Setup */
.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.child {
    max-width: 1250px;
}

.author {
    max-width: 900px;
    height: 35vh;
    align-items: center;
    margin: auto;
    background-color: #282a36;
    border-radius: 10px;
    padding: 1.4rem 2.25rem;
}

.author-pic {
    width: 20%;
    border-radius: 100%;
}

.author-info {
    margin: 0 1rem;
}

.author-info a {
    margin-left: 0.5rem;
    color: #ff5555;
    cursor: pointer;
}

.yt-embed {
    aspect-ratio: 16 / 9;
    width: 100%;
}
